@model Protecno.Models.Factura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" name="PagoId" value="1" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="detalle" class="control-label"></label>
                <input asp-for="detalle" class="form-control" />
                <span asp-validation-for="detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroFactura" class="control-label"></label>
                <input asp-for="nroFactura" class="form-control" />
                <span asp-validation-for="nroFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

