@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <div class="mt-4">
        <a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Ir a Clientes</a>
        <a asp-controller="Productoes" asp-action="Index" class="btn btn-secondary">Ir a Productos</a>
    </div>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


